header{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-top: 20px;
    button{
border: none;
cursor: pointer;
    }

    button:nth-child(1){
background-color: transparent;
font-size: 16px;
color:  #302d2d;
transition: all .3s ease;

&:hover{
    text-decoration: underline;
    color: #666666;
}
    }
    button:nth-child(2){
        background: #191919;
        box-shadow: 0px 1px 3px 0px #19202C0A;
   border-radius: 4px;
   color: #EFEFEF;
display: flex;
gap: 8px;
padding: 14px;

&:hover{
    background-color: #0e0d0da0;
    transition: all .3s ease;
}
}


.button_div{
    display: flex;
    gap: 32px;
}



}  

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.close-btn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
